@media only screen and (max-width: 800px) {
    .upperPodium, .upperPodiumInner, .lowerPodium, .lowerPodiumInner {
        width: 10vw !important;
    }

    .medals {
        width: 8vw !important;
        height:8vw !important;
    }
}
