.btn {
    margin: auto;
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;

}

.setup-page-title {
    font-family: var(--heading-font);
    color: var(--main-primary);
}

img {
    width: 15rem;
    height: auto;
    margin-bottom: 2rem;

}

.setup-btn {
    font-size: 20px;
    border-radius: 8px;
    border: none;
    background-color: var(--main-warning);
    color: var(--main-background);
    font-family: var(--heading-font);
    /* margin: 0.8em 1em 0em 0em; */
    padding: 15px;
    cursor: pointer;
    margin: auto;
    margin: -20px -50px;
    position:relative;
    top:50%;
    left:50%;
    
}

.setup-btn:hover {
    animation: hoverShake 0.20s linear 3;
    background-color: var(--main-warning);
    color: #fffcf9
}


@keyframes hoverShake {
    0% {
        transform: skew(0deg, 0deg);
    }

    25% {
        transform: skew(5deg, 5deg);
    }

    75% {
        transform: skew(-5deg, -5deg);
    }

    100% {
        transform: skew(0deg, 0deg);
    }
}
