.btn {
    margin: auto;
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;

}

/* h2 {
    margin-top: 100px;
} */

.frame {
    background-color: var(--main-background);
    width: 80vw;
    height: 90vh;
    border: 26px #efefef solid;
    border-color: var(--main-warning);
    box-shadow: inset -16px 8px 20px rgba(163, 155, 139, 0.36),
    inset -10px 0px 8px rgba(163, 155, 139, 0.66),
    inset 3px 0px 8px rgba(163, 155, 139, 0.12),
    inset 0px -8px 1px rgba(218, 216, 214, 0.4),
    -28px -6px 60px rgba(163, 155, 139, 0.46),
    -16px -4px 16px rgba(163, 155, 139, 0.46),
    0px -4px 1px rgba(163, 155, 139, 0.14);
    border-radius: 1px;
    padding: 20px; 
}

.main {
    background: #fffcf9;
    height: 100vh;
    /* background: #CCCCCC; */
    display: flex;
    align-items: center;
    justify-content: center;
   
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  background: linear-gradient(124deg, #26547c, #EF476F, #FFD166, #06D6A0, #1de840);
  background-size: 1800% 1800%;
  
  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
    animation: rainbow 10s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
}

img {
    width: 15%;
    height: auto;

}