/* .container {
    display: flex;
    font-family: var(--heading-font);
    font-size: 5vh;
    color: var(--main-text);
    text-align: center;
    animation-name: spin,
    depth;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
} */


.waviy {
    /* position: relative; */
    padding-top: 4rem;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
    font-size: 60px;
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;

}

.waviy span {
    font-family: var(--heading-font);
    font-size: 6vw;
    position: relative;
    display: inline-block;
    color: var(--main-text);
    text-transform: uppercase;
    animation: waviy 1s infinite;
    /* animation-delay: calc(.1s * var(--i)); */

}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}


/* 
@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(-360deg);
    }
}

@keyframes depth {
    0% {
        text-shadow: 0 0 black;
    }

    25% {
        text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black;
    }

    50% {
        text-shadow: 0 0 black;
    }

    75% {
        text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black,
            -5px 0 black;
    }

    100% {
        text-shadow: 0 0 black;
    } */

