.form {
    font-size: 25px;
    font-family: var(--heading-font);
    color: var(--main-primary);
}

.submit {
    width: 150px;
    height: 45px;
    margin-top: 2em;
    border: none;
    background-color: var(--main-text);
    color: var(--main-background);
    border-radius: 8px;
    font-size: 25px;
    cursor: pointer;
    font-family: var(--heading-font);
}

.submit:hover {
animation: hoverShake 0.20s linear 3;
background-color: #06d6a0;
color: #fffcf9
}

@keyframes hoverShake {
    0% {
        transform: skew(0deg, 0deg);
    }

    25% {
        transform: skew(5deg, 5deg);
    }

    75% {
        transform: skew(-5deg, -5deg);
    }

    100% {
        transform: skew(0deg, 0deg);
    }
}


.createUser {
    width: 300px;
    height: 45px;
    margin: 20px;
    border: solid 1px navy;
    background-color: var(--main-background);
    color: var(--main-primary);
    border-radius: 8px;
    font-size: 20px;
    padding: 10px;
    font-family: var(--heading-font);
    
}
