.form {
    font-size: 20px;
    font-family: var(--heading-font);
    color: var(--main-primary);
    margin: 1em;
}

.submit {
    width: fit-content;
    height: fit-content;
    font-size: 25px;
    margin-top: 1vh;
    border: none;
    background-color: var(--main-yellow);
    color: var(--main-background);
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--heading-font);
    padding: 0.25em 1em 0.25em 1em;
}

.submit:hover {
animation: hoverShake 0.20s linear 3;
background-color: #06d6a0;
color: #fffcf9
}

@keyframes hoverShake {
    0% {
        transform: skew(0deg, 0deg);
    }

    25% {
        transform: skew(5deg, 5deg);
    }

    75% {
        transform: skew(-5deg, -5deg);
    }

    100% {
        transform: skew(0deg, 0deg);
    }
}


.createUser {
    width: 30vw;
    height: 7vh;
    margin: 1em;
    border: solid 1px navy;
    background-color: var(--main-background);
    color: var(--main-primary);
    border-radius: 8px;
    font-size: 20px;
    padding: 10px;
    font-family: var(--heading-font);
    
}
