@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.waviy {
    /* position: relative; */
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;

}

.waviy span {
    font-family: var(--heading-font);
    font-size: 4vw;
    position: relative;
    display: inline-block;
    color: var(--main-primary);
    text-transform: uppercase;
    animation: waviy 1s infinite;
    /* animation-delay: calc(.1s * var(--i)); */

}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}
