body {
    text-align: center;
}

input {
    min-width: 12rem;
    min-height: 2rem;
    margin: 1rem;
}

.minor {
    font-family: var(--text-font);
    height:0;
}

.major {
    margin: 2rem;
    font-family: var(--heading-font);
}

.score {
    font-family: var(--heading-font);
    height:0;
}

.message {
    font-family: var(--text-font);
    font-size: 20px;
    height:0;
}

.btn {
    font-size: 20px;
    border-radius: 8px;
    border: none;
    background-color: var(--main-warning);
    color: var(--main-background);
    font-family: var(--heading-font);
    margin: 0.8em 1em 0em 0em;
    padding: 15px;
    cursor: pointer;
}


.btn:hover {
    animation: hoverShake 0.20s linear 3;
    background-color: var(--main-warning);
    color: #fffcf9
}

.optionBtn {
    width: fit-content;
    height: fit-content;
    font-size: 25px;
    margin-top: 1vh;
    border: none;
    background-color: var(--main-yellow);
    color: var(--main-background);
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--heading-font);
    padding: 0.25em 1em 0.25em 1em;
}


@keyframes hoverShake {
    0% {
        transform: skew(0deg, 0deg);
    }

    25% {
        transform: skew(5deg, 5deg);
    }

    75% {
        transform: skew(-5deg, -5deg);
    }

    100% {
        transform: skew(0deg, 0deg);
    }
}


.quizSection {
    min-height: 31rem;
}


